<%- include("general-partials/header") %>
<%- include("general-partials/navbar") %>

<div class="titleBlock">
        <h1 class="title">Characters</h1>
</div>
<div class="contentBlock" id="charCollection">
    <% characters.forEach(element => { %>
        <div class="infoBlock charBlock" id="char<%= element._id %>">
            <div class="charCollNameBlock">
                <div>
                    <h1 class="title"><%= element.name %></h1>
                    <p class="summaryText"><%= element.summary %></p>
                </div>
                <button class="deleteBtn" value="<%= element._id %>"data-toggle="modal" data-target="#areYouSure">
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                </button>
            </div>
            <div class="charBlockBottom">
                <div class="charButtons">
                    <button class="contentBtn hlButton linkBtn">
                        <a href="/sheet/<%= element._id %>" class="link">View Sheet</a>
                            <span class="material-symbols-outlined">
                                visibility
                            </span>
                    </button>
                    <button class="contentBtn linkBtn">
                        <a href="/character-builder/<%= element._id %>">
                            <span class="editText">Edit Character</span>
                        </a>
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </button>
                </div>
            </div>
        </div>
    <% }); %>
    <div class="infoBlock charBlock" id="newCharacter">
        <form action="/characters/new" method="post"></form>
        <span class="material-symbols-outlined">
            add_circle
        </span>
        <h1 class="title">New Character</h1>
    </div>
</div>

<!-- modals -->

<div class="modal fade" id="areYouSure" tabindex="-1" role="dialog" aria-labelledby="addSkillModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content r4sModal">
        <div class="modal-header">
          <h5 class="title">Are you sure you want to delete this character?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">X</button>
        </div>
        <div class="modal-body">
            <p class="textBody">This action cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button class="contentBtn hlButton deleteChar" id="yesImSure" data-dismiss="modal">Yes</button>
            <button class="contentBtn" type="button" data-dismiss="modal">No</button>
        </div>
        </form>
      </div>
    </div>
</div>

<%- include("general-partials/scripts") %>
<script src="/collection.js"></script> 
<%- include("general-partials/footer") %>